@font-face {
    font-family: "cairo";
    src: local("cairo"), url('../fonts/ElMessiri-Regular.ttf') format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "cairo";
    src: local("cairo"), url('../fonts/ElMessiri-Bold.ttf') format("woff");
    font-weight: bold;
}

$family-heading: "cairo", "Helvetica Neue", "Segoe UI", sans-serif;
$family-content: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Geeza pro","Segoe UI", Roboto, Oxygen-Sans, Ubuntu, sans-serif;


