* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
  scroll-behavior: smooth;
  direction: rtl;
}
body {
  font-size: $font-base;
  line-height: $line-height;
  color: $content-color;
  background-color: $bg-color;
  font-family: $family-content;
}
ul,
ol {
  list-style: none;
}
a, a:active, a:hover, a:focus{
  text-decoration: none !important;
  color: $title-color !important;
}
.p-section{
  padding: {
    top: 80px;
    bottom: 80px;
  }
}
.bage-content{
  padding-top: 100px;
}