@mixin  bageColor($bageName) {
    @if $bageName == cappuccino{
        ##{$bageName}{
                background-color: lighten($primary-color,24%);
                .c-tab{
                    .c-tab__btn{
                        @include border(1px,$lighten-primary-color);
                        color: $lighten-primary-color;
                        &.active,
                        &:hover,
                        &:focus{
                           color: $primary-color;
                           border-color: $primary-color;
                        }
                    }
                }
                .tab-content{
                    background-color: $lighten-primary-color;
                    .c-textfield__label{
                        color: $white;
                    }
                    .c-textfield__control{
                        border-color: $white !important;
                        color: $white !important;
                        &::placeholder{
                            color: $white !important;
                        }
                    }
                    .c-btn{
                        border-color: $white !important;
                        .c-btn-primary{
                            background-color: $secondary-color !important;
                        }
                    }
                } 
        }
    }
    @else if $bageName == black-coffee{
        $primary-color: $secondary-color;
        $lighten-primary-color: lighten($primary-color,30%);
        $secondary-color: $lighten-primary-color;
        ##{$bageName}{
            background-color: lighten($primary-color,75%);
            .c-tab{
                .c-tab__btn{
                    @include border(1px,$lighten-primary-color);
                    color: $lighten-primary-color;
                    &.active,
                    &:hover,
                    &:focus{
                        color: $primary-color;
                        border-color: $primary-color;
                    }
                }
            }
            .tab-content{
                background-color: $lighten-primary-color;
                .c-textfield__label{
                    color: $white;
                }
                .c-textfield__control{
                    border-color: $white !important;
                    color: $white !important;
                    &::placeholder{
                        color: $white !important;
                    }
                }
                .c-btn{
                    border-color: $white !important;
                    &-secondary {
                        &:hover {
                            background-color: $primary-color !important;
                            
                        }
                    }
                }
            }
            .c-btn-primary {
                color: $white !important;
                &::before{
                    background-color: $primary-color;
                }
                &:hover {
                  color: $white !important;
                  background-color: $secondary-color !important;
                  &::before {
                    height: 0%;
                  }
                }
            }
            .qtybutton:hover {
                background-color: $primary-color;
            }
        }
    }
    @else if $bageName == turkish-coffee{
        $primary-color: #b48a68;
        $lighten-primary-color: lighten($primary-color,13%);
        ##{$bageName}{
            background-color: lighten($primary-color,30%);
            .c-tab{
                .c-tab__btn{
                    @include border(1px,$lighten-primary-color);
                    color: $lighten-primary-color;
                    &.active,
                    &:hover,
                    &:focus{
                        color: $primary-color;
                        border-color: $primary-color;
                    }
                }
            }
            .tab-content{
                background-color: $lighten-primary-color;
                .c-textfield__label{
                    color: $white;
                }
                .c-textfield__control{
                    border-color: $white !important;
                    color: $white !important;
                    &::placeholder{
                        color: $white !important;
                    }
                }
                .c-btn{
                    border-color: $white !important;
                    &-secondary {
                        &:hover {
                            background-color: $primary-color !important;
                            
                        }
                    }
                }
            } 
            .c-btn-primary {
                color: $white !important;
                &::before{
                    background-color: $primary-color;
                }
                &:hover {
                  color: $white !important;
                  background-color: $secondary-color !important;
                  &::before {
                    height: 0%;
                  }
                }
            }
            .qtybutton:hover {
                background-color: $primary-color;
            }
        }
    }
    
}
@include bageColor(cappuccino);
@include bageColor(black-coffee);
@include bageColor(turkish-coffee);