<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card</title>
    <script type="text/html" src="{require('index.js')}"></script>
</head>
<body style="background-color: #000;">
    <div class="container">
        <div class="card c-card c-card--Horizontal">
            <div class="card-header c-card__header">
                <i class="fa-solid fa-truck-fast c-card__header__icon"></i>
            </div>
            <div class="card-body c-card__body">
              <p class="card-text c-card__body__text">دائما يتم شحن منتجاتنا الطازجة مباشرة من المصنع</p>
            </div>
        </div>
    </div>
</body>
</html>