.c-heading{
    position: relative;
    color: $primary-color;
    outline: 2px solid $primary-color;
    width: fit-content;
    padding: 10px 20px;
    margin: 0 auto 80px;
    font-size: 30px;
    z-index: 1;
    & + p{
      color: $title-color;
    }
    &::before,
    &::after{
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        top: 50%;
        background: $primary-color;
        transform: translateY(-50%);
        transition: $transtion;
    }
    &::before {
        left: -30px;
    }
    &::after {
        right: -30px;
    }
    &:hover {
        color: #fff;
        outline: #fff;
        transition-delay: 0.5s;
    }
    &:hover::before {
        z-index: -1;
        background-color: $secondary-color;
        animation: left-move 0.5s linear forwards;
    }
    &:hover::after {
        z-index: -1;
        animation: right-move 0.5s linear forwards;
    }
}
@keyframes left-move {
    50% {
      left: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      left: 0;
      width: 70%;
      height: 100%;
      border-radius: 0;
    }
  }
  @keyframes right-move {
    50% {
      right: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      right: 0;
      width: 30%;
      height: 100%;
      border-radius: 0;
    }
  }