.c-slider{
    &__inIndicators{
        background-clip: unset !important;
        background-color: $primary-color !important;
        height: 15px !important;
        width: 15px!important;
        border-radius: 4px!important;
        border: 0 !important;
        &.active{
            width: 30px !important;
        }
    }
    &__img{
        height: 50vh;
        max-height: 100%;
        object-fit: cover;
        @include breakpiont(md){
        height: 60vh;
        }
        @include breakpiont(lg){
        height: 100vh;
        }
    }
    &__control{
        display: none !important; 
        @include breakpiont(md){
            display: block !important;
        }
    }
    &--product{
        .c-slider__indicators-box{
            display: flex;
            flex-direction: column;
            width: 25%;
            position: relative;
            gap: 15px;
        }
        .c-slider__inIndicators{
            width: 100px !important;
            height: 80px !important;
            @include breakpiont(md){
                height: 100px !important;
            }
            &.active{
                width: none !important;
            }
        }
        .c-slider__img{
            @include breakpiont(lg){
            height: 100% !important;
            }
        }
    }
}