$brown: #c0aa83;
$black: #242424;
$black2: #171717;
$gray: #8b8b8b;
$darken-gray: #7777;
$white: #fff;

$bg-color: #fff;
$section-color: $black;

$primary-color: $brown;
$secondary-color: $black;

$title-color: $secondary-color;
$content-color: $darken-gray;



